/* Сброс отступов */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Общие стили */
html,
body {
  height: auto;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #e8f1f5, #956a71);
  scroll-behavior: smooth;
}

h1 {
    font-size: 2em;
    color: #502c35;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/*отступы между строк*/
p {
  margin-top: 7px;
}

/* Контейнер */
.container {
  margin: 0 auto;
  padding: 0 16px;
}

/* HEADER */
.header {
  padding: 20px 40px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

/* ЛОГОТИП (ТОЛЬКО CSS) */
.logo {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* CSS-ЛОГОТИП: МОНОГРАММА А + Я */


.logo-mark {
  border-radius: 6px;
  width: 56px;
  height: 56px;
  border: 2px solid #956a71;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-letter {
  position: absolute;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  font-family: system-ui, -apple-system, sans-serif;
  color: #785161;
}

.logo-letter.a {
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
}

.logo-letter.ya {
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
}


.logo-text {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.4px;
}


.burger-menu {
  position: relative;
}

.burger-toggle {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
  background: none;
  cursor: pointer;
}

.burger-toggle span {
  width: 25px;
  height: 3px;
  background-color: #7d4f59;
  transition: transform 0.3s, opacity 0.3s;
}

.burger-toggle.open span:nth-child(1) {
  transform: rotate(40deg);
  position: relative;
  top: 8px;
}

.burger-toggle.open span:nth-child(2) {
  opacity: 0;
}

.burger-toggle.open span:nth-child(3) {
  transform: rotate(-40deg);
  position: relative;
  top: -6px;
}

.menu-items {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  margin: 0;
  padding: 20px;
}

.menu-items li {
  margin: 5px 0;
  list-style-type: none;
}

.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: bold;
  padding: 5px 10px;
  display: block;
  transition: color 0.3s;
}

.menu-items a:hover {
  color: #b51628f5;
}

.burger-menu.open .menu-items {
  display: flex;
}

.hero-section {
  padding: 100px 20px;
  text-align: center;
  background: linear-gradient(135deg, #e8d8d8, #502c35);
  color: #502c35;
  margin-top: 80px;
}

.hero-section h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 15px;
}

.hero-section p {
  font-size: 1.2em;
}

.about-section {
  display: flex;
  justify-content: center;
  padding: 80px 20px;
  text-align: left;
}

.about{
  text-align: center;  
}

.about-content {
  display: flex;
  align-items: center;
  background-color: #e8d8d8;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(139, 90, 90, 0.05);
  max-width: 1200px;
  gap: 80px;
}

.about-content img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-jpg{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 0 0 260px;
}

.about-text {
  max-width: 700px;
}

/*обо мне*/
.about-text h2 {
  font-size: 2em;
  color: #502c35;
  margin-bottom: 15px;
}

.about-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-list li {
  font-size: 1.1em;
  color: #4d4e4e;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
}

.about-list li:last-child {
  border-bottom: none;
}

.about-list strong {
  color: #5e5e6d;
  margin-right: 40px;
}

.about-content a {
  color: #965a63;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.about-content a:hover {
  color: #4a0b67;
}

.task-preview {
  padding: 60px 20px;
  text-align: center;
}

.task-preview h2 {
  font-size: 2.5em;
  color: #59656b;
  margin-bottom: 30px;
}

.task-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 0 30px;
}

.task-card {
  background-color: #e8d8d8;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.task-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

.task-card h3 {
  font-size: 1.4em;
  margin: 15px;
  color: #59656b;
}

.task-card p {
  color: #666666;
  font-size: 1em;
  margin: 0 15px 15px;
}

.task-card .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #502c35;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  margin: 15px;
  transition: background-color 0.3s;
}

.task-card .button:hover {
  background-color: #4a0b67;
}

.course-project {
  margin-top: 80px;
  padding: 30px 20px;
  text-align: center;
  background-color: #e8d8d8;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;

}

.course-project h2 {
  font-size: 2.5em;
  color: #59656b;
  margin-bottom: 10px;
}

.course-project p {
  color: #666666;
  font-size: 1em;
  margin-bottom: 40px;
}

.course-project .button {
  padding: 10px 20px;
  background-color: #502c35;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.course-project .button:hover {
  background-color: #4a0b67;
}

.course-project:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

.task-description,
.task-implementation {
  margin: 20px auto;
  padding: 10px;
  max-width: 800px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.task-description p,
.task-implementation p {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
}

.task-implementation .drawing-container {
  margin: 30px auto;
  padding: 10px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, 0);
}


footer {
  padding: 32px;
  text-align: center;
  color: #e5e7eb;
  font-size: 0.9em;
  background-color: #502c35;
  border-top: 1px solid #e0e0e0;
  font-family: "Courier New", Courier, monospace;
}

.footer p {
  font-size: 14px;
  letter-spacing: 0.5px;
  opacity: 0.8;
}


@media screen and (max-width: 1200px) {

  .task-description,
  .task-implementation {
    padding: 15px;
    max-width: 90%;
  }

  .about-content {
    gap: 20px;
    flex-direction: column;
  }

  .about-content img {
    width: 150px;
    height: 150px;
  }

}

@media screen and (max-width: 768px) {
  header {
    padding: 20px 20px;
    text-align: right;
  }


  .hero-section h1 {
    font-size: 2.5em;
  }

  .about-section {
    padding: 60px 20px;
  }

  .task-preview h2 {
    font-size: 2em;
  }

  .task-grid {
    grid-template-columns: 1fr;
  }

  .task-card h3 {
    font-size: 1.2em;
  }

  h1 {
    font-size: 2em;
  }


}

@media screen and (max-width: 480px) {
  .about-section {
    padding: 40px 15px;
  }

  .about-content {
    gap: 15px;
    padding: 20px;
    max-width: 100%;
    margin: 0 15px;
  }

  .about-content img {
    width: 100px;
    height: 100px;
  }

  .about-text h2 {
    font-size: 1.4em;
  }

  .about-list li {
    font-size: 0.9em;
  }

  .about-list strong {
    margin-right: 5px;
  }

  .about-content a {
    font-size: 1em;
  }

  .hero-section h1 {
    font-size: 2em;
  }

  .task-card h3 {
    font-size: 1.1em;
  }

  .task-preview h2 {
    font-size: 1.8em;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .task-card .button {
    padding: 8px 16px;
  }



}


