/*чтобы гаражж был по середине*/
.result {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*не знаю для чего*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.garage-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    transition: transform 0.9s ease; /* Изменение размера flex */
}

.garage {
  background-image: url("../../task3/image/garage.jpg");
  background-size: cover;
  
  background-position: center;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-size: cover;
    cursor: pointer;
}

/* Первая машина (не видна изначально) */
.car1 {
    position: absolute;
    bottom: -40px;        
    left: 50%;
    width: 120px;
    height: 110px;
    transform: translate(-260px, 40px);
    opacity: 0;
    transition: transform 1.5s ease, opacity 1s ease;
    z-index: 2;
}

/* Первая надпись */
.text1 {
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 16px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 1s ease;
}

/* Вторая машина (не видна изначально) */
.car2 {
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 110px;
    opacity: 0;
    transition: opacity 2s ease;
}

/* Вторая надпись (голубая) */
.text2 {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: blue;
    font-size: 16px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 1s ease;
}

/* Анимация при наведении (шаг 2) */
.garage:hover .car1,
.garage:hover .text1 {
    opacity: 1;
}

.garage:hover .car1 {
     opacity: 1;

    /* центр + немного вверх */
    transform: translate(-50%, -60px);
}

/* Анимация при клике (шаг 3) */
.garage:active .car1,
.garage:active .text1 {
    opacity: 0; /* Первая машина и надпись исчезают */
}

.garage:active .car2,
.garage:active .text2 {
    opacity: 1; /* Вторая машина и надпись появляются */
}

/* Тряска второй машины по кругу при удержании клика */
@keyframes shake-circle {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg) scale(1.05);
    }
}

.garage:active .car2 {
    animation: shake-circle 1s linear infinite; /* Бесконечная анимация при удержании */
}

/* Изменение размера flex-контейнера (шаг 4) */
.garage-flex:active {
    transform: scale(1.04); /* Увеличение на 2% при нажатии */
}

.garage-flex:not(:active) {
    transform: scale(0.98); /* Уменьшение на 2% после отпускания */
}
