.result {
  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.chair {
  width: 50px;
  height: 120px;
  position: relative;
  margin-right: -15px;
}

.chair-seat {
  position: absolute;
  width: 100%;
  height: 8px;
  bottom: 40px;
  background-color: #cd7f32;
}

.chair-nails {
  position: absolute;
  left: 20%;
  right: 20%;
  width: 60%;
  height: 0px;
  bottom: 40px;
  border-top: 8px dotted #8b4513;
}

.chair-leg {
  position: absolute;
  bottom: 0;
  right: 4px;
  width: 8px;
  height: 40px;
  background-color: #cd7f32;
}

.chair-back {
  position: absolute;
  top: 0;
  right: 40px;
  width: 40px;
  height: 100%;
  border-right: 10px solid #cd7f32;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}

.center-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teapot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teapot-lid-handle {
  width: 10px;
  height: 10px;
  background-color: #d90429;
  background-color: pink;
  border: solid 2px red;
  border-radius: 50%;
  margin-bottom: -6px;
}

.teapot-lid-body {
  width: 30px;
  height: 10px;
  background-image: radial-gradient(circle at 35% 30%, pink 10%, red 90%);
  border: solid 2px red;
  border-radius: 50%;
  margin-bottom: -6px;
}

.teapot-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.teapot-spout {
  width: 24px;
  height: 7px;
  background-color: pink;
  transform: skewX(-25deg) rotate(25deg);
  margin-right: -16px;
  margin-top: -15px;
  border: solid 3.5px red;
  border-radius: 1px;
}

.teapot-volume {
  width: 60px;
  height: 40px;
  background-image: radial-gradient(circle at 35% 30%, pink 20%, red 90%);
  border: solid 2px red;
  border-radius: 50%;
  z-index: 2;
}

.teapot-handle {
  width: 16px;
  height: 20px;
  border: 4px solid red;
  background: transparent;
  border-radius: 50%;
  margin-left: -12px;
  margin-top: -15px;
}

.table {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-top {
  width: 100%;
  height: 12px;
  background-color: #cd7f32;
}

.table-leg {
  width: 20px;
  height: 70px;
  background-color: #cd7f32;
  border-radius: 50%;
  margin-top: -10px;
  margin-bottom: -10px;
}

.table-stand {
  width: 50px;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 25px solid #cd7f32;
}

.chair-mirror {
  transform: scaleX(-1);
  margin-right: 0;
  margin-left: -15px;
}
